.intro-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    max-width: 100rem;
    min-height: 100vh;
}

/*breakpoints*/
@media (max-width: 800px) {
    .intro-content h2 {
        font-size: 4rem;
    }
}
