.pricing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.pricing-table-responsive {
    max-width: 70%;
    overflow-x: auto;
}

.pricing-table-responsive table {
    min-width: 360px;
    /*remove border space between cells*/
    border-collapse: collapse;
    margin: 0 auto;
}

.pricing-table-responsive table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

.pricing-table-responsive table td,
.pricing-table-responsive table th {
    padding: 1rem;
    border: 0.1rem solid var(--myTable-Secondary-Grid-color);
    text-align: left;
}

.pricing-table-responsive table th {
    background-color: var(--myTable-Secondary-Grid-color);
}

.pricing-table-responsive .td-value {
    text-align: right;
}
